<div class="center-hamburger">
  <div class="square">
<svg version="1.1" height="60px" width="200px"  xmlns="http://www.w3.org/2000/svg" >
      <ellipse cx="100px" cy="55" rx="100px" ry="50" style="fill:#FDB545;
      stroke:#E28965; stroke-width:5;" />
</svg>
  </div>
  <tags-input ng-model='teams' class="team-input" placeholder="team(s)"></tags-input>
  <div class="input-container">
      <div class="person-input" ng-repeat="person in people track by $index">
          <input type="text" class="email-input form-control" ng-model='people[$index].email' ng-keypress="keyPressed($event, $index)" placeholder="add email and press enter" setfocus="{{$last}}"/>
    </div>
  </div>
  <input id="next"type="button" class="btn btn-success" value="Make Pairs" ng-click="submitPeople()">
  <div class="square">
<svg version="1.1" height="60px" width="200px"  xmlns="http://www.w3.org/2000/svg" >
      <ellipse cx="100px" cy="0" rx="100px" ry="50" style="fill:#FDB545;
      stroke:#E28965; stroke-width:5;" />
</svg>
  </div>
</div>
