<link rel="stylesheet" href="css/pairs.css">
<table class="cards" id="pairs">
<tr ng-repeat="pair in pairs">
  <td class="card" ng-repeat="person in pair" ng-if="person">
  <div class="card-container flex flex-order-{{$index}}">
    <a tabindex="0" class="btn btn-success" role="button" data-toggle="popover" data-html="true" data-trigger="focus" title="Pairs" data-content="{{person.pairs|teamSeparator}}" data-placement='{{$index ? "right" : "left"}}' onclick="popover(this)">Prior Pairs</a>
    <div class="email">
      <span class="label label-primary">{{person.email}}</span>
    </div>
  </div>
  <div class="card-container flex flex-order-{{$index}}">
    <span class="team team-{{team}}" ng-repeat="team in person.teams">
    {{team}}
    </span>
  </div>
  </td>
</tr>
</table>
