.input-container.ng-move,
.input-container.ng-enter,
.input-container.ng-leave {
  -webkit-transition:all linear .5s;
  transition:all linear .5s;
}

.input-container.ng-leave.ng-leave-active,
.input-container.ng-move,
.input-container.ng-enter {
  opacity:0;
  max-height:0;
}

.input-container.ng-leave,
.input-container.ng-move.ng-move-active,
.input-container.ng-enter.ng-enter-active {
  opacity:1;
/*  max-height:40px;
*/}


