html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: rgb(166, 232, 254);
}

.table-container {
  height: 100%;
  width: 100%;
  display: table;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.centered {
  padding: 1em;
  max-width: 700px;
  display: inline-block;
  text-align: center;
}


.container {
  height: 100%;
  display: table;
}
.trigrid {
  background-image: url(../img/trigrid-tile-5pct.svg);
  background-size: 20px 35px;
  background-position: center top;
  position: absolute;
  width: 100%;
  top: 0;
  overflow: scroll;
  /* This needs to be hidden somehow */
}

.logo {
  z-index: 100;
  margin-left: -1px;
}


.nav-toggle {
  z-index: 1;
  margin-right: 10px;
}

.menu {
  transition: transform .8s cubic-bezier(0.55,0,.1,1);
}

.menu.out {
  -webkit-transform: translate3d(-120%, 0, 0);
  transform: translate3d(-120%, 0, 0);
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}



.center-hamburger > * {
  margin-bottom: 2px;
}

.input-container {
  overflow-y: hidden;
  z-index: -1;
  height: 102px;
}

.team-input .host {
  width: 200px;
}

.square {
  width: 200px;
  z-index: 99999;
}

input {
  display: block;
}

#next {
  width: 100%;
}

* {
  border-radius: 0px !important;
}

.btn {
  -webkit-transition: opacity 0.1s cubic-bezier(0.55, 0, 0.1, 1), background-color 0.1s cubic-bezier(0.55, 0, 0.1, 1), color 0.1s cubic-bezier(0.55, 0, 0.1, 1), box-shadow 0.1s cubic-bezier(0.55, 0, 0.1, 1), background 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.1s cubic-bezier(0.55, 0, 0.1, 1), background-color 0.1s cubic-bezier(0.55, 0, 0.1, 1), color 0.1s cubic-bezier(0.55, 0, 0.1, 1), box-shadow 0.1s cubic-bezier(0.55, 0, 0.1, 1), background 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  padding: .5em;
}

